@import "tailwindcss";

:root {
  --primary-color: #1a1f36;
  --secondary-color: #073675;
  --ternary-color: #00b96d;
}

body {
  /* background-color: var(--primary-color); */
  color: #fff;
  background-image: linear-gradient(#1a1f36, #101010);
}

@layer base {
  .tagline {
    @apply md:text-4xl text-xl text-center text-amber-500;
  }
  .section-headings {
    @apply flex-col text-center;
  }
  #test-carousel {
    width: 100%;
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 80%,
      transparent 100%
    );
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#right{
    animation: move-right 15s linear infinite ;
}

#left{
    animation: move-left 15s linear infinite ;
}